misc
matlab/Deprecated
matlab/Old_angle_convention
matlab/worker/slprj
matlab/worker/*.mexw64
matlab/model/active
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.ilg
doc/*.ind
doc/*.lof
doc/*.log
doc/*.lot
doc/*.nlo
doc/*.nls
doc/*.out
doc/*.pdf
doc/*.synctex.gz
doc/*.toc
doc/*.pl
seminar
matlab/lib